@charset "UFT-8";

@media screen and (max-width: 759px) {
    .container{
        width: 100vw;
    }

    header > div{
        font-size: 1em;
        width: 100%;
    }

    header > section{
        font-size: 1.5em;
        text-align: center;
    }

    a > div:hover{
        font-size: 1em;
    }

    #initial-content{
        font-size: 3em;
    }
}

@media screen and (min-width: 400px){
    header > div{
        width: 80%;
    }
    
    header > section p{
        width: 50%;
    }

    #initial-content{
        font-size: 4em;
    }
}

@media screen and (min-width: 500px){
    header > div{
        width: 50%;
        font-size: 1.2em;
    }

    header > section{
        font-size: 2em;
    }

    #initial-content{
        font-size: 5em;
    }
}

@media screen and (min-width: 759px){
    .container{
        width: 80%;
    }

    header > section p{
        width: auto;
        text-align: center;
    }
}

@media screen and (min-width: 1200px){
    .container{
        width: 70%;
    }

    header > div{
        font-size: 1.5em;
    }
}